body {
    background-image: url("background.jpg");
    background-size: cover;
    /* background-position: center; */
    /* background-repeat: no-repeat; */
}
#title{
    color:yellow;
    background-color: rgb(49, 61, 107);
    margin-top: 0;
    padding:20px;
}
canvas{
    margin-top: 200px;
    background-color: white;
    border: 5px black solid;
    border-radius: 20px;
}
.img{
    width:200px;
    height:200px;
    border-radius: 100px;
}
#speed_div{
    float:left;
    margin-left:40px
}
#volume_div{
    float:right;
    margin-right: 40px;
}